# List of dependencies for the data logger and influxdb
# the following mentionned versions are not absolute, but they are the one used during the creation of this program and future/past versions may not work the same
# was created with pip freeze > requirements.txt
certifi==2026.6.17
influxdb3-python==0.20.0
numpy==2.5.1
picosdk==1.1
pyarrow==24.0.0
python-dateutil==2.9.0.post0
reactivex==4.1.0
six==1.17.0
typing_extensions==4.16.0
urllib3==2.7.0
